/* Основные стили карточки товара */
.product-card {
  width: 280px; /* Увеличиваем ширину карточки */
  height: 420px; /* Увеличиваем высоту карточки, чтобы вместить кнопки */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease;
  overflow: hidden; /* Предотвращаем вылезание содержимого за границы карточки */
  color: #000; /* Цвет шрифта в карточке товара - черный */
}

.product-card:hover {
  transform: translateY(-5px); /* Легкий подъем карточки при наведении */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Увеличенная тень */
}

/* Изображение товара */
.product-image {
  width: 100%; /* Ширина изображения на всю карточку */
  height: 200px; /* Фиксированная высота */
  object-fit: cover; /* Масштабирование изображения */
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.05); /* Легкое увеличение изображения при наведении */
}

/* Название товара */
h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 500;
  transition: color 0.3s ease;
  text-decoration: none;
  color: #000; /* Черный цвет текста для названия товара */
}

.product-card:hover h3 {
  color: #ff5722;
}

/* Цена товара */
.price {
  color: #ff5722;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

/* Описание товара */
.product-card p {
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
  font-weight: 400;
}

/* Кнопки */
.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px; /* Отступы между кнопками */
  flex-wrap: wrap; /* Если кнопки не помещаются, они будут переноситься на следующую строку */
}

button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease;
  text-decoration: none;
  white-space: nowrap; /* Текст будет в одну строку */
  max-width: 100%; /* Кнопки не выходят за пределы */
  box-sizing: border-box; /* Учитывает паддинги и границы при расчете ширины */
}

button:hover {
  background-color: #e64a19;
  transform: translateY(-3px);
}

button:active {
  transform: translateY(0);
}

.product-card a {
  text-decoration: none; /* Убирает подчеркивание */
}
